@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  .hide-action td.ng2-smart-actions a {
    display: none;
  }
  ng2-st-tbody-edit-delete {
    display:none;
    visibility: hidden;
  }
}
