
  <nb-layout-column>
    <div class="lists row">
      <div class="col-md-12 col-lg-6 col-xxxl-6">
        <nb-card class="list-card" size="small"  [nbSpinner]="loading" nbSpinnerStatus="primary">
          <nb-card-header style="text-decoration: underline"
            >Our Projects</nb-card-header
          >
          <nb-card-body>
            <nb-list>
              <nb-list-item *ngFor="let app of applications">
                {{ app.name }}
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div>
      <button
        nbButton
        hero
        fullWidth
        status="primary"
        nbPopoverPlacement="top"
        [nbPopover]="formComponent"
      >
        Add new Project
      </button>
    </div>
  </nb-layout-column>

